.user-div {
    margin-left: 40vh;
    margin-right: 40vh;
    height: 100vh;
}


.user-form {
    margin-top: 5vh;
    margin-bottom: auto;    
}

.el {
    margin-top: 2vh;
}

label {
    font-size: 2vh;
    color: black;
}

.send-button {
    float: right;
    width: 30vh;
    height: 5vh;
    font-size: 2vh;
}

#fio {
    text-transform: capitalize;
}

.form-control {
    height: 5vh;
    margin: 0;
}

textarea {
    resize: none;
}

.alert {
    position: absolute; 
    top: 107vh;
    left: 15vh;
    right: 15vh;
    width: auto;
    z-index: 100;
}

.alert-heading {
    font-size: 4vh;
}

.alert ul {
    font-size: 3vh;
    list-style-type:none;
}

.blur-form {
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(5px);
    opacity: 0.6;
}