.bg {
    background-image: url(../../images/bg.png); 
    position: fixed;
    left: 0;
    right: 0;
    z-index: 100;

    display: block;
    
    height: 100vh;

    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    
    filter: blur(15px);
}

.blocks {
    position: absolute;
    z-index: 1000;   
}

.choose-block {
    margin-top: 55vh;
    margin-left: 1vh;
    
    transform: rotate(90deg);
    position: fixed;
    top: 0;
}

