.bg {
    background-image: url(../../images/bg.png); 
    position: fixed;
    left: 0;
    right: 0;
    z-index: 100;

    display: block;
    
    height: 100vh;

    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    
    filter: blur(15px);
}

.blocks {
    position: absolute;
    z-index: 1000;   
}

.choose-block {
    margin-top: 45vh;
    margin-left: 6vh;
    margin-right: 6vh;
    padding-left: 0;
    padding-top: 5px;
    text-align: center;

    height: 17vh;
    position: fixed;
    top: 0px;
    list-style-type: none;
    justify-content: left;
    width: 18vh;
    border-color: #005358;
    border-style: solid;
    border-radius: 1vh;
    border-width: 0.5px;
}

.choose-block a {
    font-size: 2vh;
}

.pager-item-container a {
    color: #006e74;
}

.cur-item a {
    font-size: 3vh;
    color: #00494d;
}

.pager-item-container {
    margin-bottom: 2vh;
}
