.btn-link {
    color: black;
    font-family: FuturaPTBook, sans-serif;
    font-size: 2vh;
}

.btn-link:hover {
    color: #008c95;
}

.navbar-ul {
    margin-left: auto;
    margin-right: 30vh;
}

.navbar-brand {
    margin-left: 30vh;
}

.nav-item {
    float: right;
}