html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: FuturaPTBook, sans-serif;
}

@font-face{

    font-family: 'FuturaPTBook';
    
    src: url('./fonts/FuturaPTBook.otf');

    font-weight: normal;
    font-style: normal;
}